@font-face {
    font-family: 'LOL';
    src: url(../fontes/BeaufortforLOL-Bold.otf);
}


.participants-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
}

.grid{
    border:2px solid #000000;
}

.participant {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.icon {
    width: 50px;
    height: 50px;
}

.items img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

h1{
    text-align: center;
    background-color:#010A13;
    color: #C89B3C;
    
}

.grid-container {
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 20px;
}

body{
    background-color:#010A13;
}

.participant{
    color: white;
    border: solid #C89B3C;
}