@import url("https://fonts.googleapis.com/css?family=Marcellus+SC");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

input{
    margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Poppins";
}


.participants-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
}

.grid{
    border:2px solid #000000;
}

.participant {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.icon {
    width: 50px;
    height: 50px;
}

.items img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

h1{
    text-align: center;
    background-color:#010A13;
    color: #C89B3C;
    font-family:'Marcellus SC', serif;
}

.grid-container {
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 20px;
}

body{
    background-color:#010A13;
}

.participant{
    color: white;
    border: solid #C89B3C;
}


button {
    font-family: 'Marcellus SC', serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 5px 15px; 
    background: #1e2328;
    color: #cdbe91;
    box-shadow: inset 0 0 2px #000000;
    border-image: linear-gradient(to bottom, #c8aa6d, #7a5c29);
    border-image-slice: 1;
    border-width: 2px;
  }
  
  button:hover {
    text-shadow: 0 0 5px #ffffff80;
    box-shadow: 0 0 8px 0 #ffffff50;
    background: linear-gradient(to bottom, #1e2328, #433d2b);
    cursor: pointer;
    transition: 0.1s;
  }
  
  button:active {
    text-shadow: none;
    box-shadow: none;
    color: #cdbe9130;
  }